<a href="https://colab.research.google.com/github/safwan-shaikh/BookRecommendation/blob/main/Book_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
books = pd.read_csv('Books.csv')
users = pd.read_csv('Users.csv')
ratings = pd.read_csv('/content/Ratings.csv')

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [10]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X          0.0
1   276726  0155061224          5.0
2   276727  0446520802          0.0
3   276729  052165615X          3.0
4   276729  0521795028          6.0

In [11]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [13]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            0
Year-Of-Publication    0
Publisher              0
Image-URL-S            0
Image-URL-M            0
Image-URL-L            1
dtype: int64

In [14]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [15]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    1
dtype: int64

In [16]:
books.duplicated().sum()

0

In [17]:
ratings.duplicated().sum()

0

In [18]:
users.duplicated().sum()

0

In [22]:
#Merging ratings and books names
ratings_with_name = ratings.merge(books,on='ISBN')

In [23]:
ratings_with_name

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
2,6543,034545104X,0.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
3,8680,034545104X,5.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
4,10314,034545104X,9.0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
267508,110267,0446525677,0.0,The Naked God Part 1 : Flight,Peter F. Hamilton,2000,Aspect,http://images.amazon.com/images/P/0446525677.0...,http://images.amazon.com/images/P/0446525677.0...,http://images.amazon.com/images/P/0446525677.0...
267509,111816,0679433902,0.0,The Total Zone,Martina Navratilova,1994,Random House Inc,http://images.amazon.com/images/P/0679433902.0...,http://images.amazon.com/images/P/0679433902.0...,http://images.amazon.com/images/P/0679433902.0...
267510,116310,0451410009,0.0,Zero Hour,Benjamin E. Miller,2003,Onyx Books,http://images.amazon.com/images/P/0451410009.0...,http://images.amazon.com/images/P/0451410009.0...,http://images.amazon.com/images/P/0451410009.0...
267511,126680,344242366X,7.0,Der Rumpf. Roman.,Akif Pirincci,1992,Goldmann,http://images.amazon.com/images/P/344242366X.0...,http://images.amazon.com/images/P/344242366X.0...,http://images.amazon.com/images/P/344242366X.0...
267512,126736,0345427769,5.0,East of A,Russell Atwood,1999,Ballantine Books,http://images.amazon.com/images/P/0345427769.0...,http://images.amazon.com/images/P/0345427769.0...,http://images.amazon.com/images/P/0345427769.0...

In [31]:
num_rating_df = ratings_with_name.groupby('Book-Title').count()['Book-Rating'].reset_index()
num_rating_df.rename(columns={'Book-Rating':'num_rating'},inplace=True)
num_rating_df

                                              Book-Title  num_rating
0       A Light in the Storm: The Civil War Diary of ...           4
1       Beyond IBM: Leadership Marketing and Finance ...           1
2                                           It Takes Two           2
3       Q-Space (Star Trek The Next Generation, Book 47)           7
4                           Tales of Terror and Suspense           1
...                                                  ...         ...
36561                   why I'm like this : True Stories           8
36562                   Â¿QuiÃ©n se ha llevado mi queso?           1
36563                           Â¿QuÃ© me quieres, amor?           5
36564                              Ã?Â?ber die Freiheit.           1
36565                                     Ã?Â?bermorgen.           1

[36566 rows x 2 columns]

In [32]:
avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()
avg_rating_df.rename(columns={'Book-Rating':'avg_rating'},inplace=True)
avg_rating_df

<ipython-input-32-ebeed7a91fd4>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_rating_df = ratings_with_name.groupby('Book-Title').mean()['Book-Rating'].reset_index()

                                              Book-Title  avg_rating
0       A Light in the Storm: The Civil War Diary of ...       2.250
1       Beyond IBM: Leadership Marketing and Finance ...       0.000
2                                           It Takes Two       0.000
3       Q-Space (Star Trek The Next Generation, Book 47)       0.000
4                           Tales of Terror and Suspense       0.000
...                                                  ...         ...
36561                   why I'm like this : True Stories       5.125
36562                   Â¿QuiÃ©n se ha llevado mi queso?       7.000
36563                           Â¿QuÃ© me quieres, amor?       1.200
36564                              Ã?Â?ber die Freiheit.       7.000
36565                                     Ã?Â?bermorgen.       0.000

[36566 rows x 2 columns]

In [36]:
popular_df = num_rating_df.merge(avg_rating_df,on='Book-Title')
popular_df

,Book-Title,num_rating,avg_rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.250
1,Beyond IBM: Leadership Marketing and Finance ...,1,0.000
2,It Takes Two,2,0.000
3,"Q-Space (Star Trek The Next Generation, Book 47)",7,0.000
4,Tales of Terror and Suspense,1,0.000
...,...,...,...
36561,why I'm like this : True Stories,8,5.125
36562,Â¿QuiÃ©n se ha llevado mi queso?,1,7.000
36563,"Â¿QuÃ© me quieres, amor?",5,1.200
36564,Ã?Â?ber die Freiheit.,1,7.000
36565,Ã?Â?bermorgen.,1,0.000

In [41]:
popular_df = popular_df[popular_df['num_rating']>=250].sort_values('avg_rating',ascending=False).head(50)

In [42]:
popular_df

,Book-Title,num_rating,avg_rating
11987,Harry Potter and the Sorcerer's Stone (Harry P...,271,5.107011
11976,Harry Potter and the Chamber of Secrets (Book 2),277,5.054152
27623,The Da Vinci Code,430,4.572093
31509,The Secret Life of Bees,369,4.558266
31127,The Red Tent (Bestselling Backlist),339,4.386431
29828,The Lovely Bones: A Novel,602,4.348837
35505,Where the Heart Is (Oprah's Book Club (Paperba...,287,4.240418
11180,Girl with a Pearl Earring,253,4.146245
33469,Timeline,264,3.859848
16025,Life of Pi,295,3.854237
2200,Angels &amp; Demons,332,3.810241
31992,The Summons,311,3.700965
25326,Summer Sisters,270,3.629630
7856,Divine Secrets of the Ya-Ya Sisterhood: A Novel,356,3.606742
30466,The Notebook,286,3.601399
28321,The Firm,261,3.547893
4202,Bridget Jones's Diary,379,3.490765
30312,The Nanny Diaries: A Novel,386,3.487047
30780,The Pilot's Wife : A Novel,270,3.477778
837,A Painted House,393,3.363868
24292,Snow Falling on Cedars,305,3.324590
28602,The Girls' Guide to Hunting and Fishing,269,3.308550
32121,The Testament,284,3.299296
30824,The Poisonwood Bible: A Novel,257,3.280156
12803,House of Sand and Fog,281,3.192171
29302,The Joy Luck Club,258,3.124031
26870,The Brethren,265,2.973585
30670,The Pelican Brief,291,2.845361
29012,The Horse Whisperer,254,2.637795
35741,Wild Animus,1181,1.055885

In [48]:
popular_df=popular_df.merge(books,on='Book-Title').drop_duplicates('Book-Title')[['Book-Title','Book-Author','Image-URL-M','num_rating','avg_rating']]

In [49]:
popular_df

,Book-Title,Book-Author,Image-URL-M,num_rating,avg_rating
0,Harry Potter and the Sorcerer's Stone (Harry P...,J. K. Rowling,http://images.amazon.com/images/P/059035342X.0...,271,5.107011
1,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,http://images.amazon.com/images/P/0439064872.0...,277,5.054152
4,The Da Vinci Code,Dan Brown,http://images.amazon.com/images/P/0385504209.0...,430,4.572093
6,The Secret Life of Bees,Sue Monk Kidd,http://images.amazon.com/images/P/0142001740.0...,369,4.558266
10,The Red Tent (Bestselling Backlist),Anita Diamant,http://images.amazon.com/images/P/0312195516.0...,339,4.386431
11,The Lovely Bones: A Novel,Alice Sebold,http://images.amazon.com/images/P/0316666343.0...,602,4.348837
12,Where the Heart Is (Oprah's Book Club (Paperba...,Billie Letts,http://images.amazon.com/images/P/0446672211.0...,287,4.240418
13,Girl with a Pearl Earring,Tracy Chevalier,http://images.amazon.com/images/P/0452282152.0...,253,4.146245
14,Timeline,MICHAEL CRICHTON,http://images.amazon.com/images/P/0345417623.0...,264,3.859848
17,Life of Pi,Yann Martel,http://images.amazon.com/images/P/0151008116.0...,295,3.854237
20,Angels &amp; Demons,Dan Brown,http://images.amazon.com/images/P/0671027360.0...,332,3.810241
24,The Summons,John Grisham,http://images.amazon.com/images/P/0440241073.0...,311,3.700965
26,Summer Sisters,Judy Blume,http://images.amazon.com/images/P/0385324057.0...,270,3.629630
28,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,http://images.amazon.com/images/P/0060928336.0...,356,3.606742
30,The Notebook,Nicholas Sparks,http://images.amazon.com/images/P/0446605239.0...,286,3.601399
33,The Firm,John Grisham,http://images.amazon.com/images/P/0385416342.0...,261,3.547893
35,Bridget Jones's Diary,Helen Fielding,http://images.amazon.com/images/P/0330332775.0...,379,3.490765
40,The Nanny Diaries: A Novel,Emma McLaughlin,http://images.amazon.com/images/P/0312278586.0...,386,3.487047
42,The Pilot's Wife : A Novel,Anita Shreve,http://images.amazon.com/images/P/0316601950.0...,270,3.477778
43,A Painted House,John Grisham,http://images.amazon.com/images/P/044023722X.0...,393,3.363868
45,Snow Falling on Cedars,David Guterson,http://images.amazon.com/images/P/0151001006.0...,305,3.324590
47,The Girls' Guide to Hunting and Fishing,Melissa Bank,http://images.amazon.com/images/P/0140293248.0...,269,3.308550
50,The Testament,John Grisham,http://images.amazon.com/images/P/0440234743.0...,284,3.299296
53,The Poisonwood Bible: A Novel,Barbara Kingsolver,http://images.amazon.com/images/P/0060930535.0...,257,3.280156
54,House of Sand and Fog,Andre Dubus III,http://images.amazon.com/images/P/0375727345.0...,281,3.192171
56,The Joy Luck Club,Amy Tan,http://images.amazon.com/images/P/0804106304.0...,258,3.124031
58,The Brethren,JOHN GRISHAM,http://images.amazon.com/images/P/0385497466.0...,265,2.973585
60,The Pelican Brief,John Grisham,http://images.amazon.com/images/P/0440214041.0...,291,2.845361
62,The Horse Whisperer,Nicholas Evans,http://images.amazon.com/images/P/0440222656.0...,254,2.637795
64,Wild Animus,Rich Shapero,http://images.amazon.com/images/P/0971880107.0...,1181,1.055885